@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Email</th>
        <th>Buy Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.Email</td>
            <td>@order.BuyDate</td>
            <td>
                <a href="/EditOrder/@order.OrderId" class="btn btn-secondary">Edit</a>
                <form method="post" asp-page-handler="Delete" asp-route-id="@order.OrderId" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<a href="/Admin" class="btn btn-secondary mt-1">Back</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}