@page
@model ShopModel
@{
  ViewData["Title"] = "Vinyl Shop";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page for shopping Vinyls!</p>

<form method="get">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Title" name="searchTerm" value="@Model.SearchTerm">
        </div>
        <div class="col">
            <select class="form-control" name="genreId" asp-for="GenreId" asp-items="@(new SelectList(Model.Genres,"GenreId","GenreName"))">
                <option value="">Sort by Genre</option>
            </select>
        </div>
        <!-- Title Sort Dropdown -->
        <div class="col">
            <select class="form-control" name="titleSort" asp-for="TitleSort">
                <option value="">Sort by Title</option>
                <option value="Ascending">A - Z</option>
                <option value="Descending">Z - A</option>
            </select>
        </div>
        <!-- Price Sort Dropdown -->
        <div class="col">
            <select class="form-control" name="priceSort" asp-for="PriceSort">
                <option value="">Sort by Price</option>
                <option value="Ascending">Low to High</option>
                <option value="Descending">High to Low</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>


<div class="container-fluid mt-4">
    <div class="row">
        @foreach (var vinyl in Model.PaginatedVinyls.Items)
        {
            <div class="col-md-4">
                <div class="card">
                    @if (vinyl.ImagePath != null && vinyl.ImagePath.Any())
                    {
                        <img src="@vinyl.ImagePath" class="card-img-top" alt="Cover for @vinyl.Title">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@vinyl.Title</h5>
                        <p class="card-text">@vinyl.Artist</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>kr. @vinyl.Price</div>
                            <button class="btn btn-primary">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<nav aria-label="Vinyl pagination">
  <ul class="pagination">
    @if (Model.PaginatedVinyls.CurrentPage > 1)
    {
        <li class="page-item">
            <a class="page-link" href="@Url.Page("/Shop", new { currentPage = Model.PaginatedVinyls.CurrentPage - 1, searchTerm = Model.SearchTerm, genreId = Model.GenreId, titleSort = Model.TitleSort, priceSort = Model.PriceSort })">Previous</a>
        </li>
    }

    @for (int i = 1; i <= Model.PaginatedVinyls.TotalPages; i++)
    {
        <li class="page-item @(i == Model.PaginatedVinyls.CurrentPage ? "active" : "")">
            <a class="page-link" href="@Url.Page("/Shop", new { currentPage = i, searchTerm = Model.SearchTerm, genreId = Model.GenreId, titleSort = Model.TitleSort, priceSort = Model.PriceSort })">@i</a>
        </li>
    }

    @if (Model.PaginatedVinyls.CurrentPage < Model.PaginatedVinyls.TotalPages)
    {
        <li class="page-item">
            <a class="page-link" href="@Url.Page("/Shop", new { currentPage = Model.PaginatedVinyls.CurrentPage + 1, searchTerm = Model.SearchTerm, genreId = Model.GenreId, titleSort = Model.TitleSort, priceSort = Model.PriceSort })">Next</a>
        </li>
    }
  </ul>
</nav>

