@page
@model MelodyMine.Pages.VinylsModel
@{
    ViewData["Title"] = "Vinyls";
}

<h1>@ViewData["Title"]</h1>

<!-- Formula for adding a new vinyl -->
<form method="post" asp-page-handler="Create">
    <div class="form-group mb-1 fw-bold">
        <label for="Title">Title</label>
        <input type="text" class="form-control" asp-for="NewVinyl.Title" placeholder="Enter title">
        <span asp-validation-for="NewVinyl.Title" class="text-danger"></span>
    </div>
    <div class="form-group mb-1 fw-bold">
        <label for="Artist">Artist</label>
        <input type="text" class="form-control" asp-for="NewVinyl.Artist" placeholder="Enter artist"></input>
        <span asp-validation-for="NewVinyl.Artist" class="text-danger"></span>
    </div>
    <div class="form-group mb-1 fw-bold">
        <label for="Price">Price</label>
        <input type="number" class="form-control" asp-for="NewVinyl.Price" placeholder="Enter price">
        <span asp-validation-for="NewVinyl.Price" class="text-danger"></span>
    </div>
    <div class="form-group mb-1 fw-bold">
        <label for="ImagePath">Image</label>
        <input type="text" class="form-control" asp-for="NewVinyl.ImagePath" placeholder="Enter Image">
        <span asp-validation-for="NewVinyl.ImagePath" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
            <label for="Genre">Genre</label>
        <select asp-for="NewVinyl.GenreId" asp-items="Model.GenreOptions" class="form-control">
            <option value="">-- Select a Genre --</option>
        </select>
        <span asp-validation-for="NewVinyl.GenreId" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Add New Vinyl</button>
        <a href="/Admin" class="btn btn-secondary">Back</a>
</form>

<!-- Table for existing vinyls -->
<table class="table">
    <thead>
    <tr>
        <th>Vinyl ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Price</th>
        <th>Genre ID</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var vinyl in Model.Vinyls)
    {
        <tr>
            <td>@vinyl.VinylId</td>
            <td>@vinyl.Title</td>
            <td>@vinyl.Artist</td>
            <td>@vinyl.Price.ToString("C")</td>
            <td>@vinyl.GenreId</td>
            <td>
                <!-- Buttons for edit/delete -->
                <a href="/EditVinyl/@vinyl.VinylId" class="btn btn-secondary">Edit</a>
                <!-- Delete formula -->
                <form method="post" asp-page-handler="Delete" asp-route-id="@vinyl.VinylId" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}